body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.inputContainer {
  width: 40%;
}

.item-heading {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card.item-card {
  height: 440px;
}

.item-rating {
  color: blue;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.searchType {
  display: inline-block;
  margin-right: 5px;
  width: 15%;
}

#searchBar {
  width: 80%;
}

.api {
  color: #5c36f4;
}

a:hover {
  text-decoration: underline;
}

.navbar-fixed {
  margin-bottom: 15px;
}
