#read {
  background: url(read.jpg) repeat;
  background-size: cover;
  border: 2px solid #0d47a1;
  height: 450px;
}

.inputContainer {
  width: 40%;
}

.item-heading {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card.item-card {
  height: 440px;
}

.item-rating {
  color: blue;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.searchType {
  display: inline-block;
  margin-right: 5px;
  width: 15%;
}

#searchBar {
  width: 80%;
}